 body {
    font-family: 'Montserrat';
}

.cta {
    background-color: yellow;
    color: black;
}

.cta:hover {
    opacity: 0.5;
    background-color: yellow;
}

a:hover {
    cursor: pointer;
    opacity: 0.5;
}